[submodule "dot-config/fzf/plugins/fzf-git"]
	path = dot-config/fzf/plugins/fzf-git
	url = https://github.com/junegunn/fzf-git.sh.git
[submodule "dot-config/tmux/plugins/tpm"]
	path = dot-config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
